@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=News+Cycle&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 250, 244);
    color: rgb(28, 35, 43);
}

h1, h3, h4 {
    font-family: 'News Cycle', sans-serif;
}

h1 {
    color: rgb(36, 36, 36);
    letter-spacing: 2px;
    float: left;
    text-decoration: none;
}

.menu {
    position: fixed;
    right: 0;
}

.drop-menu {
    float: right;
    padding: 10px;
}

.drop-menu-content {
    display: none;
    position: relative;
}

.drop-menu-content a {
  color: rgb(36, 36, 36);
  background-color: antiquewhite;
  padding: 7px;
  text-decoration: none;
  display: block;
}

.menu:hover .drop-menu-content{
    display: block;
}

#hero-image {
    background: url(images/hero.jpg);
    background-size: cover;
    height: 450px;
    position: relative;
    margin: 0;
}

h3, h4 {
    text-align: center;
    text-transform: capitalize;
    padding: 10px 0px 
}

.manager-img {
    background: url(images/samantha.jpg);
}

.staff-img {
    background: url(images/ben.jpg);

}

.staff-img-2 {
    background: url(images/ria.jpg)
}

.manager-img, .staff-img, .staff-img-2 {
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    padding: 100px;
    border: 1px gray solid;
    border-radius: 50%;
}

.staff-info {
    text-align: center;
}

