@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=News+Cycle&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    background-color: #fafafa;
    color: #020609;
}

h1, h3, h4 {
    font-family: 'News Cycle', sans-serif;
    font-weight: 550;
}

h3, h4 {
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 14px;
    line-height: 21px;
}



/* navigation and hero image */

.mobile-nav{
    float: right;
}

.desktop-nav{
    display: none;
}

.navigation {
    height: 35px;
    width: 100%;
    top: 0;
    background-color: #eeeeee;
    position: fixed;
    z-index: 1;
}

h1 {
    color: rgb(36, 36, 36);
    letter-spacing: 2px;
    font-size: 24px;
    float: left;
    text-decoration: none;
}

.menu {
    float: right;
    padding-right: 10px;
}

.bars {
    float: right;
}

.drop-menu-content {
    display: none;
}

.drop-menu-content a {
  color: rgb(36, 36, 36);
  background-color: #faebd7;
  padding: 5px;
  text-decoration: none;
  display: block;
  border-bottom: 1px rgb(206, 206, 206) solid;
}

.menu:hover .drop-menu-content{
    display: block;
    cursor: pointer;
    transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    -moz-transition: 0.25s ease;
}

.drop-menu-content a:hover {
    background-color: rgb(206, 206, 206);
} 


#hero-image {
    background: url(images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    height: 500px;
    width: 100%;
    margin: 0;
    position: relative;
}

/* support section styles */

.interests {
    width: 300px;
    height: 400px;
    margin: auto;
    margin-bottom: 15px;
    padding: 5px;
    border: 0.5px slategrey solid;
    background-color: #1d3c59;
}

.interests:hover {
    border: 2px #020609 solid;
    padding: 5px;
    transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    -moz-transition: 0.25s ease;
}

.interests h4 {
    color: antiquewhite;
}

.interests p {
    line-height: 21px;
    color: antiquewhite;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}

.coffee{
    background: url(images/coffee.jpg);
}

.fitness { 
    background: url(images/fitness.jpg);
}

.talk {
    background: url(images/work_home.jpg);
}

.coffee, .fitness, .talk {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.manager-img {
    background: url(images/samantha.jpg);
}

.staff-img {
    background: url(images/ben.jpg);
}

.staff-img-2 {
    background: url(images/ria.jpg)
}

.staff-info {
    margin: auto;
    width: 200px;
    height: 200px;
    padding: 15px;
    text-align: center;
    font-weight: 500;
}

.staff-info p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.manager-img, .staff-img, .staff-img-2 {
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    border: 1px gray solid;
    border-radius: 50%;
    position: relative;
}

#staff {
    margin: 10px 50px;
    text-align: center;
}

/* get involved section styles */

.event {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}

.running {
    width: 100%;
    height: 350px;
    margin: 20px;
    background: url(images/running.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

/* contact us section styles */

#box {
    height: 575px;
    width: 100%;
    margin: auto;
    background-color: #1d3c59;
    color: #fdf6ee;
    border-top: 1.5px slategrey solid;
    padding: 8px;
}

.contact-info{
    margin-top: 5px;
}

.contact-info p{
    font-size: 12px;
    text-align: center;
}

form, form p {
    font-size: 12px;
    width: 100%;
    padding: 10px;
}

input[type=text], input[type=number], input[type=email] {
    background-color: #1d3c59;
    border: none;
    border-bottom: 1px #fdf6ee solid;
    color: white;
}

input[type=text]:focus, input[type=number]:focus, input[type=email]:focus {
   border: #cccccc;
}

input[type=button] {
    background-color: #fdf6ee;
    margin-top: 8px;
    padding: 8px;
}

/* footer styles */

footer {
    height: 120px;
    width: 100%;
    background-color: #cccccc;
    padding: 10px;
    position: relative;
}

footer p {
    font-size: 10px;
    left: 0;
    bottom: 0;
    position: absolute;
}

.charites {
    padding: 10px;
    font-size: 11px;
    text-align: center;
}

.charites a {
    color: #112233; 
    text-decoration: none;
    margin-right: 15px;
}

.social {
    right: 0;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.social a {
    text-decoration: none;
    color: inherit; 
}

@media only screen and (min-width: 600px) {

    .desktop-nav {
        display: none;
    }

    .navigation {
        height: 45px;
    }

    h1 h3{
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    .interests {
        width: 100%;
        height: 250px;
    }

    .coffee, .talk {
        width: 40%;
        height: 100%;
        float: left;
    }

    .fitness {
        width: 40%;
        height: 100%;
        float: right;
    }

    .interests h4 {
        padding-top: 40px;
    }

    .interests p {
        padding: 10px;
    }

    #staff {
        font-weight: 600;
        padding-top: 30px;
    }

    .event {
        margin: auto;
    }

    .running {
        height: 400px;
    }

    #box {
        height: 475px;
    }

    .contact-info, .requests {
        margin: auto;
    }

    .details {
        margin-top: 30px;
    }

    .contact-info, form p {
        font-size: 14px;
    }

    footer p {
        font-size: 12px;
    }

    .charites {
        font-size: 14px;
    }

    .charites a {
        text-decoration: none;
        margin: 0px 20px;
    }

    .social {
        font-size: 2em;
        padding: 0px 0px 10px;
    }

    .drop-menu-content a {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {

    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 34px;
    }

    p {
        font-size: 18px;
        line-height: 27px;
    }

    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: inline;
    }

    .desktop-nav ul {
        float: right;
        height: 100%;
        width: 490px;
        font-size: 14px;
    }

    .desktop-nav li {
        display: inline-block;
        list-style-type: none;
        padding: 10px 10px 10px;
    }

    .desktop-nav a {
        color: inherit;
        text-decoration: none;
    }

    .desktop-nav li:hover {
        background-color: #112233;
        color: #fdf6ee;
        cursor: pointer;
        transition: 0.25s ease-in;
        -webkit-transition: 0.25s ease-in;
        -moz-transition: 0.25s ease-in;
    }

    .desktop-nav li:active {
        background-color: #112233;
        color: #fdf6ee;
    }

    .interests {
        width: 300px;
        height: 500px;
        margin: 0;
    }

    .coffee, .fitness, .talk {
        height: 250px;
        width: 100%;
    }

    .manager-img, .staff-img, .staff-img-2 {
        height: 175px;
        width: 175px;
        border: 50%;
        margin-bottom: 10px;
    }

    #staff {
        height: 25px;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    #box {
        height: 350px;
    }

    .details {
        padding-top: 50px;
    }

    .requests {
        padding-top: 30px;
    }

    input[type=button] {
        margin-left: -20%;
    }

    footer {
        height: 160px;
    }

    .charites {
        font-size: 16px;
    }

    footer p {
        font-size: 14px;
    }
}